html {
    font-size: 20px;
}

.content {
    padding: .5rem 1rem;
    width: 14rem;
    background-color: #eee;
    height: 2rem;
    margin: 0;
}

.last, .play, .next {
    width: 2rem;
    margin: 0 1rem;
}

.audio {
    display: none;
}
